@import "tailwindcss";

@theme {
  --color-background: #0f1115;
  --color-surface: #1a1d23;
  --color-accent: #d4a373;
}


@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }

}
@theme inline {
  --animate-meteor-effect: meteor 5s linear infinite;
 
  @keyframes meteor {
    0% {
      transform: rotate(215deg) translateX(0);
      opacity: 1;
    }
    70% {
      opacity: 1;
    }
    100% {
      transform: rotate(215deg) translateX(-500px);
      opacity: 0;
    }
  }
}