@import "tailwindcss";

body {
  
}

@theme {
  --color-background: #0f1115;
  --color-surface: #1a1d23;
  --color-accent: #d4a373;
}


@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }

}
@theme inline {
  --animate-meteor-effect: meteor 5s linear infinite;
 
  @keyframes meteor {
    0% {
      transform: rotate(215deg) translateX(0);
      opacity: 1;
    }
    70% {
      opacity: 1;
    }
    100% {
      transform: rotate(215deg) translateX(-500px);
      opacity: 0;
    }
  }
}

/* Declarar las fuentes */
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat/Montserrat-VariableFont.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/Inter-VariableFont.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* Asignarlas a variables */
@theme {
  --font-montserrat: "Montserrat", sans-serif;
  --font-syne: "Inter", sans-serif;
}