---
import { Meteors } from "./ui/meteors";
---

<footer
  id="footer"
  class="relative bg-surface text-white py-20 overflow-hidden"
>
  <Meteors client:load number={10} />

  <div class="relative container mx-auto px-6">
    <div
      class="grid grid-cols-1 md:grid-cols-2 gap-12 text-center align-center"
    >
      <div class="space-y-4">
        <h2 class="uppercase font-bold text-accent tracking-widest">
          Contacto
        </h2>
        <p class="text-white/70">Email: terralstudio@gmail.com</p>
        <p class="text-white/70">Telefono: +34 000 999 000</p>
      </div>

      <div class="space-y-4">
        <h2 class="uppercase font-bold text-accent tracking-widest">
          Redes Sociales
        </h2>
        <p class="text-white/70">Instagram: @terralstudio</p>
        <p class="text-white/70">Facebook: @terralstudio</p>
      </div>
    </div>

    <div class="mt-20 border-t border-white/10 pt-10">
      <h2 class="text-center text-xl opacity-60">
        Hecho por <a
          href="https://rubentorres.vercel.app"
          target="_blank"
          class="text-accent text-2xl hover:text-4xl transition-all duration-500 font-bold underline underline-offset-4 cursor-pointer"
        >
          Rubén Torres
        </a> en Málaga
      </h2>
    </div>
  </div>
</footer>
