---
import "../styles/global.css";
import { Image } from "astro:assets";
import heroPhoto from "../assets/photos/hero-photo.webp";
---

<section>
  <Image
    src={heroPhoto}
    alt="Imagen de la casa"
    widths={[480, 720, 1080, 1440, 1800]}
    sizes="(max-width: 1800px) 100vw, 1800px"
    class="w-full h-screen object-cover"
  />
  <div
    class="absolute inset-0 bg-linear-to-t from-background/80 via-transparent to-transparent flex flex-col items-start justify-center p pb-50 shadow-xl"
  >
    <h1
      class="text-6xl font-bold text-white md:text-8xl tracking-tighter px-12"
    >
      Terral Studio
    </h1>
    <div
      class="absolute bottom-10 w-full px-12 flex justify-between items-end uppercase"
    >
      <h2 class="text-md font-bold text-white/80 md:text-xl tracking-tighter">
        un nuevo estandar de diseño
      </h2>
      <h3 class="text-md font-bold text-white/80 md:text-xl tracking-tighter">
        málaga, españa
      </h3>
    </div>
  </div>
</section>
