---

---

<section class="text-white" id="houseplan">
  <h2 class="text-6xl font-bold m-10 md:text-8xl tracking-tighter">
    Planos de la casa
  </h2>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6 m-10 max-h-screen">
    <div class="">
      <p class="text-2xl mt-5">El area es de 150m²</p>
      <ul class="mt-6">
        <li class="border-b border-white/50 flex justify-between p-2">
          <p>Sala de estar</p>
          <p>10m²</p>
        </li>
        <li class="border-b border-white/50 flex justify-between p-2">
          <p>Comedor</p>
          <p>10m²</p>
        </li>
        <li class="border-b border-white/50 flex justify-between p-2">
          <p>Cocina</p>
          <p>20m²</p>
        </li>
        <li class="border-b border-white/50 flex justify-between p-2">
          <p>Salón</p>
          <p>43m²</p>
        </li>
        <li class="border-b border-white/50 flex justify-between p-2">
          <p>Habitacion Principal</p>
          <p>60m²</p>
        </li>
        <li class="border-b border-white/50 flex justify-between p-2">
          <p>Habitacion de invitados</p>
          <p>10m²</p>
        </li>
        <li class="border-b border-white/50 flex justify-between p-2">
          <p>Baño 1</p>
          <p>10m²</p>
        </li>
        <li class="border-b border-white/50 flex justify-between p-2">
          <p>Baño 2</p>
          <p>10m²</p>
        </li>
        <li class="border-b border-white/50 flex justify-between p-2">
          <p>Pasillo y armario</p>
          <p>10m²</p>
        </li>
        <li class="flex justify-between p-2">
          <p>Lavanderia</p>
          <p>10m²</p>
        </li>
      </ul>
    </div>
    <div class="rounded-xl mt-10 overflow-hidden">
      <img src="/src/assets/photos/HousePlan.webp" alt="Houseplan" />
    </div>
  </div>
</section>
