---

---

<section class="text-white">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6 m-10">
    <div class="">
      <h2 class="uppercase">Plano de la casa</h2>
      <p>El area es de 100m²</p>
      <ul class="mt-10">
        <li class="border-b border-white/80 flex justify-between p-2">
          <p>Sala de estar</p>
          <p>10m²</p>
        </li>
        <li class="border-b border-white/80 flex justify-between p-2">
          <p>Comedor</p>
          <p>10m²</p>
        </li>
        <li class="border-b border-white/80 flex justify-between p-2">
          <p>Cocina</p>
          <p>20m²</p>
        </li>
        <li class="border-b border-white/80 flex justify-between p-2">
          <p>Salón</p>
          <p>43m²</p>
        </li>
        <li class="border-b border-white/80 flex justify-between p-2">
          <p>Habitacion Principal</p>
          <p>60m²</p>
        </li>
        <li class="border-b border-white/80 flex justify-between p-2">
          <p>Habitacion de invitados</p>
          <p>10m²</p>
        </li>
        <li class="border-b border-white/80 flex justify-between p-2">
          <p>Baño 1</p>
          <p>10m²</p>
        </li>
        <li class="border-b border-white/80 flex justify-between p-2">
          <p>Baño 2</p>
          <p>10m²</p>
        </li>
        <li class="border-b border-white/80 flex justify-between p-2">
          <p>Pasillo y armario</p>
          <p>10m²</p>
        </li>
        <li class="flex justify-between p-2">
          <p>Lavanderia</p>
          <p>10m²</p>
        </li>
      </ul>
    </div>
    <div class="rounded-3xl overflow-hidden">
      <img src="/src/assets/photos/Houseplan.webp" alt="Houseplan" />
    </div>
  </div>
</section>
