---

---

<nav
  class="absolute top-8 left-0 w-full px-12 z-10 flex justify-between items-center"
>
  <div class="flex items-center gap-2 text-white/70">
    <span class="text-2xl font-bold">Terral Studio</span>
  </div>
  <div class="flex items-center gap-4 text-white/70 hover:text-white">
    <a href="#" class="text-sm font-bold">Inicio</a>
    <a href="#" class="text-sm font-bold">Información</a>
    <a href="#" class="text-sm font-bold">Propiedades</a>
    <a href="#" class="text-sm font-bold">Servicios</a>
    <a href="#" class="text-sm font-bold">Contacto</a>
  </div>
</nav>
