---

---

<nav
  class="absolute top-8 left-0 w-full px-12 z-10 flex justify-between items-center"
>
  <div class="flex items-center gap-2 text-white/70">
    <span class="text-2xl font-bold uppercase tracking-tighter"
      >Terral Studio</span
    >
  </div>
  <div
    class="flex items-center gap-4 text-white/70 uppercase tracking-wider font-light"
  >
    <a href="#services" class="text-sm font-bold">Servicios</a>
    <a href="#houseplan" class="text-sm font-bold">Planos</a>
    <a href="#proyects" class="text-sm font-bold">Proyectos</a>
    <a href="#reviews" class="text-sm font-bold">Reseñas</a>
    <a href="#footer" class="text-sm font-bold">Contacto</a>
  </div>
</nav>
