---

---

<section class="w-full h-screen bg-surface" id="services">
  <div class="w-full h-full flex flex-col pt-10">
    <h2
      class="text-6xl font-bold text-white/90 md:text-8xl tracking-tighter px-12"
    >
      Nuestros Servicios
    </h2>
    <div class="gird grid-cols-2 md:grid-cols-3 gap-6 text-white/80 m-10">
      <div
        class="rounded-xl p-6 bg-white-5 backdrop-blur-md border border-white/10 mt-10 mb-10 max-w-115 max-h-200"
      >
        <img
          src="/src/assets/photos/OurServices-01.webp"
          alt="Foto Servicio 1"
          class="max-w-100 h-auto rounded-xl"
        />
        <p class="text-6xl font-extrabold my-5">01</p>
        <h3 class="text-2xl font-bold my-2">Enseñar las casas</h3>
        <p class="text-white/80 sm:text-sm">
          Ofrecemos recorridos virtuales inmersivos que permiten a los clientes
          explorar cada rincón de la propiedad desde la comodidad de su hogar.
        </p>
      </div>
      <!-- <div
        class="rounded-xl p-6 bg-white-5 backdrop-blur-md border border-white/10 mt-10 mb-10 max-w-115 max-h-200"
      >
        <img
          src="/src/assets/photos/OurServices-02.webp"
          alt="Foto Servicio 2"
          class="max-w-100 h-auto rounded-xl"
        />
        <p class="text-6xl font-extrabold my-5">02</p>
        <h3 class="text-2xl font-bold my-2">Planteamiento del sitio</h3>
        <p class="text-white/80 sm:text-sm">
          Analizamos tu terreno para diseñar la casa perfecta que se adapte al
          entorno y a tus necesidades.
        </p>
      </div>
       <div
        class="bg-surface-secondary rounded-xl p-6 bg-white-5 backdrop-blur-md border border-white/10 mt-10 mb-10"
      >
        <img
          src="/src/assets/photos/OurServices-03.webp"
          alt="Foto Servicio 3"
          class="max-w-100 h-auto"
        />
         <p>03</p> 
        <h3 class="text-2xl font-bold">Servicio 3</h3>
        <p>Descripción del servicio 3</p>
      </div>
      <div
        class="bg-surface-secondary rounded-xl p-6 bg-white-5 backdrop-blur-md border border-white/10 mt-10 mb-10"
      >
        <img
          src="/src/assets/photos/OurServices-04.webp"
          alt="Foto Servicio 4"
          class="max-w-100 h-auto"
        />
        <p>04</p>
        <h3 class="text-2xl font-bold">Servicio 4</h3>
        <p>Descripción del servicio 4</p>
      </div>
      <div
        class="bg-surface-secondary rounded-xl p-6 bg-white-5 backdrop-blur-md border border-white/10 mt-10 mb-10"
      >
        <img
          src="/src/assets/photos/OurServices-05.webp"
          alt="Foto Servicio 5"
          class="max-w-100 h-auto"
        />
        <p>05</p>
        <h3 class="text-2xl font-bold">Servicio 5</h3>
        <p>Descripción del servicio 5</p>
      </div>
      <div
        class="bg-surface-secondary rounded-xl p-6 bg-white-5 backdrop-blur-md border border-white/10 mt-10 mb-10"
      >
        <img
          src="/src/assets/photos/OurServices-06.webp"
          alt="Foto Servicio 6"
          class="max-w-100 h-auto"
        />
        <p>06</p>
        <h3 class="text-2xl font-bold">Servicio 6</h3>
        <p>Descripción del servicio 6</p>
      </div>
    </div>
  </div>
</section>
-->
    </div>
  </div>
</section>
