---
import "../styles/global.css";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Terral Studio</title>
    <meta name="description" content="Terral Studio" />
  </head>
  <body
    class="bg-background antialiased selection:bg-accent selection:text-background scrollbar-hidden"
  >
    <slot />
    <script>
      import Lenis from "lenis";

      const lenis = new Lenis({
        duration: 1.5,
        smooth: true,
        smoothTouch: false,
        touchMultiplier: 2,
        infinite: false,
      });

      function raf(time: number) {
        lenis.raf(time);
        requestAnimationFrame(raf);
      }

      requestAnimationFrame(raf);
    </script>
  </body>
</html>
